# Compiled class files
*.class

# Log files
*.log

# Maven target directory
/target/

# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws

# Eclipse IDE files
.project
.classpath
.settings/

# NetBeans IDE files
/nbproject/

# VS Code files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env

# Temporary files
*.tmp
*.swp
*.swo

# Mac-specific files
.DS_Store

# Java application-specific files
*.war
*.jar

# Spring Boot dev tools restart files
.spring-boot-devtools.properties

# H2 database files
*.h2.db
*.trace.db

# Logs and debug files
logs/
*.pid
*.gz

# Lombok generated annotations
.lombok/

# Application-specific
*.out
